{% extends 'base.html' %}
{% block content %}
<h1 class="mb-4">Bem-vindo ao Repo Edu, {{ user.nome|title }}</h1>
<p>Este é o ponto de partida para o compartilhamento de materiais educacionais.</p>

<div class="row">
    <div class="col-md-4 mb-4">
        <div class="card">
            <img src="https://via.placeholder.com/350x150" class="card-img-top" alt="Imagem de Programação">
            <div class="card-body">
                <h5 class="card-title">Introdução ao Python</h5>
                <p class="card-text">Python é uma linguagem de programação de alto nível, interpretada e com uma sintaxe simples que aumenta a legibilidade do código.</p>
                <a href="#" class="btn btn-primary">Leia mais</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-4">
        <div class="card">
            <img src="https://via.placeholder.com/350x150" class="card-img-top" alt="Imagem de HTML">
            <div class="card-body">
                <h5 class="card-title">HTML5: O Básico</h5>
                <p class="card-text">HTML5 é a última versão da linguagem básica da Web, introduzindo uma série de novos elementos e comportamentos para uma melhor experiência.</p>
                <a href="#" class="btn btn-primary">Leia mais</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-4">
        <div class="card">
            <img src="https://via.placeholder.com/350x150" class="card-img-top" alt="Imagem de CSS">
            <div class="card-body">
                <h5 class="card-title">CSS3 e Layouts Flexíveis</h5>
                <p class="card-text">Explore como o CSS3 pode ser usado para criar layouts responsivos e flexíveis sem a necessidade de frameworks externos.</p>
                <a href="#" class="btn btn-primary">Leia mais</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
